<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        description="Call Log Entries" 
        name="KIBSD Call Log Entries" 
        version="24.02.14" 
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
  <publisher name="Kodiak Island Borough School District">
    <contact email="plogan01@kibsd.org"/>
  </publisher>
</plugin>
